{% extends 'base.html' %}

{% block head %}
<!-- Exra code here -->
{% endblock %}}

{% block body %}

<!-- Exra code here -->
<div id="controls">
    <button id="playButton" style="padding-left: 1rem; padding-right: 1rem; font-size: 14.9px;">▶</button>
    <button id="pauseButton" style="padding-left: 1rem; padding-right: 1rem;">| |</button>
    <button id="restartButton" style="padding-left: 1rem; padding-right: 1rem; font-size: 14.9px;"">|◀</button>
</div>
<div class="container">
    <div id="tableContainer">
        {% for alg in algorithms %}
            <div class="column">
                <div class="table-title">RAM - [{{ alg.NAME }}]</div>
                {% for row in mem %}
                <table>
                    <tbody>
                        {% for cell in row.cells %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">   
    {% for memory in algorithms %}
    <div class="column">
        <table>
            <div class="table-title">MMU - [{{ memory.NAME }}]</div>
            <tr class="header">
                <td>PAGE ID</td>
                <td>PID</td>
                <td>LOADED</td>
                <td>L-ADDR</td>
                <td>M-ADRR</td>
                <td>D-ADRR</td>
                <td>LOADED-T</td>
                <td>MARK</td>
            </tr>
            {% for steps in memory %}
            <tr>
                <td>{{ steps.PAGE_ID }}</td>
                <td>{{ steps.PID }}</td>
                <td>{{ steps.LOADED }}</td>
                <td>{{ steps.L_ADDR }}</td>
                <td>{{ steps.M_ADRR }}</td>
                <td>{{ steps.D_ADRR }}</td>
                <td>{{ steps.LOADED_T }}</td>
                <td>{{ steps.MARK }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <table>
            <tr class="header">
                <td>Processes</td>
                <td>Simulation Time</td>
            </tr>
            <tr>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
            </tr>
        </table>

        <table>
            <tr class="header">
                <td>RAM KB</td>
                <td>RAM %</td>
                <td>V-RAM KB</td>
                <td>V-RAM %</td>
            </tr>
            <tr>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
            </tr>
        </table>

        <table>
            <tr class="header">
                <td>LOADED PAGES</td>
                <td>UNLOADED PAGES</td>
                <td>Trashing time</td>
                <td>Trashing %</td>
                <td>Fragmentación</td>
            </tr>
            <tr>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
                <td>{{ memory.PAGE_ID }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</div>


{% endblock %}}