body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    /* padding: 2%; */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table-title {
    text-align: center;
    font-size: 24px;
    color: #000;
    margin-top: 10px;
    margin-bottom: 15px;
}

td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: background-color 0.35s ease-out;
}

/* tr:nth-child(even) {
    background-color: #f9f9f9;
} */


#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;

}

/* Opcional: Estilos adicionales para mejorar la apariencia */
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: #524d8adc;
    color: #fff;
    border-color: transparent;
    border-radius: 4px;
}

button:hover,  .navbar a:hover {
    background-color: #0056b3;;
    color: white;
}

select {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
select:hover, input:hover {
    background-color: rgb(250, 250, 250);
    color: black;
    border-color: #0d0d0d;
}

.header{
    background-color: #524d8adc;
    color: white;
    font-weight: 500;
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;    
    overflow: hidden;
    background: #332f63dc;
    font-style: bold;
    font-size: large;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.container {
    display: flex;            /* Activa Flexbox */
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: flex-start;  /* Alinea los elementos al inicio verticalmente */
    padding: 20px;
}

.column {
    flex: 1;                  /* Cada columna tomará un espacio igual en el contenedor */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border: 1px solid #ccc;
    margin: 10px;             /* Espacio entre las columnas */
    margin-bottom: 1rem;
}

.column1 {
    background-color: #f8f8f8; /* Color de fondo para la columna 1 */
}

.column2 {
    background-color: #e8e8e8; /* Color de fondo para la columna 2 */
}

.input-container {
    display: flex; /* Utiliza Flexbox para alinear los elementos internos */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    margin: 10px 0; /* Margen superior e inferior para el contenedor */
}

input[type="number"] {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px; 
    font-size: 16px;
    width: 100px; 
}

label {
    font-size: larger;
}

.file-upload-container {
    margin-top: 20px; /* Espacio desde la parte superior de la página */
}

input[type="file"] {
    margin-top: 5px; /* Espacio entre la etiqueta y el input */
    font-size: 16px; /* Tamaño de la fuente del input */
    margin-bottom: 1.2rem;
}

.loading {
    position: fixed;
    top: 0;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(11, 11, 11, 0.5);
    opacity: 50;
    z-index: 10;
  }